html {
    margin: 0;
    padding: 0;
  }
  span {
    display: block;
    margin: 10px;
  }
  .canvas {
    width: 100%;
  }
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
  }
  #grey {
    background: grey;
  }
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  